body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(13, 71, 161, 0.9), rgba(35, 57, 93, 0.9)),
              radial-gradient(circle at top center, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 40%);
  background-blend-mode: overlay;
  background-color: #23395d;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: .1em;
  height: 100vh;
  width: 100vw;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 1em 2em;
  border: .1em solid rgb(58, 58, 58);
  border-radius: 2em;
  box-shadow: 0 1em 2em rgba(43, 43, 43, 0.1);
}

.scoreboard {
  background: white;
  padding: .2em .6em;
  border-radius: .4em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 2.5em;
  color: white;
  line-height: .85;
}

.score-label {
  font-size: 1.5rem;
  color: gray;
}

.score {
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selections {
  justify-content: flex-start;
  align-items: center;
  display: flex;  
  flex-direction: column;
  width: 50vw;
  min-width: 50vw;
  max-width: 40vw;
  max-height: 60vh;
  height: 50vw;
  margin-top: 10em;
  aspect-ratio: 1/1;
  position: relative;
}

.iconCircle {
  width: 20vw;
  height: 20vw;
  max-width: 15vw;
  max-height: 15vw;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1em 2em rgba(43, 43, 43, 0.1);
  margin: 1rem;
}
.firstRow, .secondRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute; /* Position the rows absolutely within the .selections container */
}

.iconCircle img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.rock {
  border: 1rem solid #dc3d4b;
  transform: translate(-30%, -30%);
}

.paper {
  border: 1rem solid #4a90e2;
  transform: translate(30%, -30%)
}

.scissors {
  border: 1rem solid #f5a623;
}

.rockContainer, .paperContainer {
  display: flex;
}

.rockContainer {
  justify-content: flex-start;
}

.paperContainer {
  justify-content: flex-end;
}
.scissorsContainer {
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex: 1;
  z-index: 2;
}

.firstRow {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}

@media (min-width: 2000px) {
  .rock:not(.animating, .winnerContainer) {
    transform: translate(30%, -30%) !important;
  }
  .paper:not(.animating, .winnerContainer) {
    transform: translate(-30%, -30%) !important;
  }
  .scissors:not(.animating, .winnerContainer) {
    transform: translateY(10%)
  }
}

.animating .rock,
.animating .paper,
.animating .scissors {
  transform: none !important;
}

.winnerContainer .rock,
.winnerContainer .paper,
.winnerContainer .scissors {
  transform: none !important;
}

.resultContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.userSelection, .opponentSelection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  max-width: 15vw;
  max-height: 15vw;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1em 2em rgba(43, 43, 43, 0.1);
  margin: 1rem;
}

.userSelection.rock, .opponentSelection.rock {
  border: 1rem solid #dc3d4b;
}

.userSelection.paper, .opponentSelection.paper {
  border: 1rem solid #4a90e2;
}

.userSelection.scissors, .opponentSelection.scissors {
  border: 1rem solid #f5a623;
}

.result.rock, .result.paper{
  transform: none;
}

.winnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 20vw;
}

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1em 2em rgba(43, 43, 43, 0.1);
  z-index: 1;

}

/* Animations */
@keyframes slideInFromLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes slideInFromRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

@keyframes rearBackUser {
  0% { transform: translateX(0); }
  100% { transform: translateX(-500%); }
}

@keyframes rearBackOpponent {
  0% { transform: translateX(0); }
  100% { transform: translateX(500%); }
}

@keyframes slamTogether {
  0% { transform: translateX(0); }
  100% { transform: translateX(-10); }
}

@keyframes explode {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.slideIn .userSelection {
  animation: slideInFromLeft 0.5s forwards;
}

.slideIn .opponentSelection {
  animation: slideInFromRight 0.5s forwards;
}

.rearBack .userSelection {
  animation: rearBackUser 0.5s forwards;
}

.rearBack .opponentSelection {
  animation: rearBackOpponent 0.5s forwards;
}

.slamTogether .userSelection,
.slamTogether .opponentSelection {
  animation: slamTogether 0.5s forwards;
}

.explode .explosion {
  animation: explode 0.5s forwards, fadeOut 0.5s 0.5s forwards;
  z-index: 0;
}
.explosion {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}


.particle {
  width: 2rem;
  height: 2rem;
  background-color: yellow;
  border-radius: 50%;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.retryButton {
  position: absolute;
  top: 120%; /* Position below the winner */
  left: 50%;
  transform: translatex(-50%);
  margin-top: 20px; /* Ensure there's some space between the winner and the button */
}

.resultMessage {
  text-align: center;
  color: white;
  font-size: 4rem;
}